<table class="table table-hover">
  <% food_items.each do |food_item| %>
    
  <tr >
    
    <td><h3><%= food_item.name %></h3></td>
    <td>Votes: <%= food_item.menu_item.votes %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= food_item.description %></td>
  </tr>
 
    
  <% end %>
</table> 